@import "primereact/resources/themes/lara-light-indigo/theme.css";
@import "primereact/resources/primereact.min.css";
@import 'primeflex/primeflex.css';

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

h1 {
    color: blue;
}